# Python
__pycache__/
*.pyc
.venv/
*.sqlite3
staticfiles/
media/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.vite/

# Env
.env

# Editors
.vscode/
.idea/
.DS_Store

# Environment files
.env
.env.*
!.env.example
!.env.production.example
